*{
    margin: 0;
    padding: 0;
    
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #010101;
    color: #ffff;
}
.cabecalho h1 {
    text-transform: uppercase;
    color: #d80303;
}
.menu ul{
    display: flex;
    list-style-type: none;
}
.menu ul li {
    padding: 1em;
    font-size: 1.3rem;
    
}
.menu-ham{
   display: none;
}
.principal{
    max-width: 1024px;
    margin: 0 auto;
}

.section-card{
    margin: 15px 0;

}
@media (max-width:400px){
    .cabecalho{
        justify-content: space-between;
    }
    .cabecalho h1 {
        font-size: 1.2rem;
        margin: 1rem;
    }
    .menu ul{
        display: none;
    }
    .menu-ham {
        display: block;
        color: #d80303;
        font-size: 1.5rem;
        margin: 1rem;
    }
   
}