body{
    background-color: #9e977c;
}

h3{
    color: #a20a0a;
    
    
}
a{
    text-decoration: none;
    color: #c00b5f;
}
.primeiro{
    background-color: #ff9d00;
    color: azure;
}
.segundo{
    background-color: #fcf117;
    color: azure;
}