body{
    margin: 0;
    font-size: 18px;
}
p{
    margin-bottom: 1px;
    font-weight: bold;
}
form , .contato{
    margin-top: 20px;
    margin-left: 25px;
}

.logo{
    text-align: center;
    color: #fcfcfc;
    background-color: #422704 ;
    padding: 12px 16px;
   
}
.navegacao ul{
    background-color: #1d1101;
    margin: 0;
    padding: 10px 5px;
}
.navegacao ul li{
    display: inline;
    margin: 0 0 0 25px;

}
.navegacao a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.rodape {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
 }