section{
    border: 1px solid blue;
    width: 100%;
    float: left;
}

div{
    margin: 5px;
    width: 50px;
    height: 150px;
}

.esquerda{
    background-color: pink;
    float: left;
    
}

.direita{
    background-color: cyan;
    float: left;
}