/* Grid */

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-template-rows-1{
    grid-template-rows: 50px 100px 50px 150px;
}
.grid-template-rows-2{
    grid-template-rows: repeat(2,100px) ;
}
.grid-template-rows-3{
    grid-template-rows: 1fr 2fr ;
}

/* estilo grid */

.item{
    margin: 5px;
    background-color: #ec4c4c;
    text-align: center;
    font-size: 1.5rem;
}
.grid{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #cecece;
}