.grid{
    display: grid; 
    
}
.grid-template-columns-1{
    grid-template-columns: repeat(4,100px);
}

.grid-template-columns-2{
    grid-template-columns: 1fr 2fr;
}
.item{
    margin: 5px;
    background-color: tomato;
    text-align: center;
    font-size: 1.5rem;
    
}
.grid-template-columns-3{
    grid-template-columns:minmax(200px , 1fr) 1fr 1fr;
    
}
/* Estilos gerais */
.grid{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #000000;
}