.explicacao p{
    background-color: #000000;
    color: #9900ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
}
.explicacao2 p {
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 20px;
}
.teste-opacidade1{
    background-color: #00ff4c;
    opacity: 0.2;
}
.teste-opacidade2{
    background-color: #0011ff;
    opacity: 0.5;
}
.teste-opacidade3{
    background-color: #ff0015;
    opacity: 1;
}